<div class="flex flex-col lg:flex-row lg:space-x-2">
  <mat-form-field>
    <mat-label>過濾項</mat-label>
    <mat-select>
      <mat-option>
        {{ "option" }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="lg:w-20">
    <mat-label>比對方式</mat-label>
    <mat-select>
      <mat-option>
        {{ "option" }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="grow">
    <app-text-content-input></app-text-content-input>
    <app-select-content-input></app-select-content-input>
  </div>

  <button
    mat-icon-button
    class="h-fit self-center"
    color="warn"
    aria-label="刪除條件"
    (click)="removed.emit()"
  >
    <mat-icon>delete_forever</mat-icon>
  </button>
</div>
